/*** Button Bar ***/
.jsn-master .jsn-bootstrap3 .btn [class ^="icon-"],.jsn-master .jsn-bootstrap3 .btn [class
	*=" icon-"] {
	margin-left: 0;
}
.jsn-bootstrap3 .btn-large [class ^="icon-"],.jsn-bootstrap3 .btn-large [class
	*=" icon-"] {
	margin: 2px 15px 0 -10px !important;
	font-size: 24px !important;
}
.wr-element-buttonbar .btn i[class *="icon-"] {
    margin-right: 9px; 
}