/*-----Accordion-----*/
.jsn-bootstrap3 .wr-element-accordion {
	padding: 0 0 5px;
}
.jsn-bootstrap3 .panel-heading {
    padding: 0;
}
.jsn-bootstrap3 .panel-title a {
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
}
.jsn-bootstrap3 .panel-title a:hover {
    background: #F9F9F9;
}
.jsn-bootstrap3 .panel-title i[class *="icon-"] {
    margin-right: 8px;
}
