/*------------------------------------------------------
    For WR modal
------------------------------------------------------*/

/* === Remove Margin CSS === */
#wpcontent {
	margin-left: 0 !important;
}

#wpbody-content {
	padding-bottom: 0 !important;
}

.wp-toolbar {
	padding-top: 0 !important;
}
/* === Hide Admin bar & menu in Modal === */
#wpadminbar,#adminmenuwrap,#adminmenuback,#wpfooter,#setting-error-tgmpa,.update-nag,.screen-reader-shortcut
{
	display: none !important;
}

#shortcode_inner_wrapper {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: -15px;
}

/* === Premade template === */
.igpb-layout-item {
	position: relative;
}

.igpb-layout-delete {
	position: absolute;
	right: 18px;
	top: 14px;
	cursor: pointer;
}

.igpb-layout-delete i {
	color: #f00;
}

.igpb-table-exceprt img {
	max-width: 150px !important;
}

#wr-pb-layout-box .layout-message {
	color: #f00;
	text-decoration: none;
}

.igpb-layout-item {
	position: relative;
}

.igpb-layout-item .thumbnail {
	padding: 0;
}

.igpb-layout-description {
	position: absolute;
	bottom: 40px;
	background: #F9FFCA;
	color: #222;
	width: 84.4%;
	padding: 10px 0;
	left: 21px;
}

.wr-modal-content {
	margin: 10px 18px;
	margin-bottom: 30px !important;
}

/* === Custom Css === */
#shortcode-content .form-control {
	margin-bottom: 10px;
	height: 15em;
}

#shortcode-content button#copy_to_clipboard {
	width: 180px;
}

#shortcode-content button#copy_to_clipboard .icon-checkmark {
	position: absolute;
	margin-top: 3px;
}

.group-table .jsn-items-list {
	border: none;
	overflow: hidden;
	padding: 0;
	height: auto !important;
}

.group-table table {
	margin-bottom: 0 !important;
}

/* === Woocommerce Css === */
select#param-woo_product_filter {
	display: none;
}